<!DOCTYPE html>
<html lang="en">
<head>
    <style> 
        #heading{
            color: rgb(0, 0, 0);
            background:linear-gradient(to left, #fff, blue)
        }
    </style>
</head>
<body>
        <header>
            <nav> 

            </nav>
            <h1 id = "heading">Hello World</h1>
            <%= data.message %>
        </header>

        <footer> 

        </footer>
</body>
</html>